/Api- Rest Horario/obj/
/Api- Rest Horario/obj/Debug
/Api- Rest Horario/obj/Debug/netcoreapp3.1/WebApiHorarios.assets.cache
/Api- Rest Horario/obj/Debug/netcoreapp3.1/WebApiHorarios.csprojAssemblyReference.cache
/Api- Rest Horario/obj/project.assets.json
/Api- Rest Horario/obj/project.nuget.cache
